.DataPanel {
  background-color: var(--bg-color-dark);
  z-index: 100;
  display: flex;
  justify-content: center;
}

.DataPanel__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh;
}

.DataPanel__forecast {
  display: flex;
  gap: 1.4rem;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1000px) {
  .DataPanel {
    width: 70vw;
    height: 100vh;
  }

  .DataPanel__forecast {
    flex-wrap: nowrap;
  }
}