.MainPanel {
  background-color: var(--bg-color-light);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  position: relative;
}

.MainPanel__clouds {
  position: absolute;
  width: 150vw;
  height: 70vh;
  top: 0;
  left: -30vw;
  opacity: 0.1;
  z-index: 0;
  background-image: url('../../assets/images/Cloud-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.MainPanel__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.MainPanel__icon {
  padding-top: 17vh;
  padding-right: 2rem;
}

.MainPanel__temp-container {
  display: flex;
  align-items: center;
}

.MainPanel__temp {
  font-weight: 500;
  font-size: 13vh;
  margin: 0;
  padding-top: 8vh;
}

.MainPanel__temp-system {
  font-weight: 500;
  font-size: 4vh;
  padding-top: 13vh;
  color: var(--color-grey);
}

.MainPanel__desc {
  color: var(--color-grey);
  font-weight: 600;
  font-size: 4vh;
  margin: 7vh 1vh;
}

.MainPanel__desc::first-letter {
  text-transform: capitalize;
}

.MainPanel__details {
  color: var(--color-grey);
  position: absolute;
  bottom: 2rem;
  font-size: 2vh;
}

.MainPanel__date span {
  padding: 0 0.8rem;
}

.MainPanel__location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainPanel__location span {
  font-size: 1.2rem;
  margin-bottom: 2px;
  margin-right: 4px;
}

.MainPanel__location p {
  font-weight: 600;
}

@media only screen and (min-width: 1000px) {
  .MainPanel {
    width: 30vw;
    height: 100vh;
  }

  .MainPanel__clouds {
    top: 1.5rem;
    height: 50vh;
    width: 45vw;
    left: -7.5vw;
  }
}