.MainPanel {
  background-color: var(--bg-color-light);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  position: relative;
}

@media only screen and (min-width: 1000px) {
  .MainPanel {
    width: 30vw;
    height: 100vh;
  }
}