.SearchButtons {
  position: absolute;
  top: 0;
  padding: 3vh;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SearchButtons__button {
  background-color: var(--color-dark-grey);
  border: none;
  padding: 0.8rem;
  color: var(--color-text);
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in-out;
}

.SearchButtons__button:hover {
  box-shadow: none;
  transform: translateY(2px);
  background-color: #62636b;
}

.SearchButtons__locate {
  background-color: var(--color-dark-grey);
  border: none;
  padding: 7px 10px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SearchButtons__locate:hover {
  box-shadow: none;
  transform: translateY(2px);
  background-color: #62636b;
}

.SearchButtons__locate span {
  margin-top: 2px;
}