@import-normalize;

:root {
  --bg-color-light: #1E213A;
  --bg-color-dark: #100E1D;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: 'Raleway',
    sans-serif;
  color: #fff;
}

@media only screen and (min-width: 1000px) {
  .App {
    display: flex;
  }
}